---
import Layout from "../layouts/Layout.astro";
---
<Layout title="Sobre Nosotros - Playauto">
    <main class="bg-gray-900 md:px-20 py-28">
         <div class="px-4 mx-auto max-w-screen-xl lg:px-6"> 
            <div class="max-w-screen-lg sm:text-lg text-gray-400">
                 <h2 class="mb-4 text-4xl tracking-tight font-bold text-white">Sobre Nosotros,
        <span class="font-extrabold text-yellow-500">Byte</span>ch Paraguay</h2> <p class="mb-4 font-light">
        Somos una empresa que brinda soluciones digitales e informaticas. Nos especializamos en el desarrollo de Sitios Webs, Diseño Grafico y Marketing Digital. Tambien realizamos ensamblaje de computadoras y vendemos todo tipo de equipos informaticos. Realizamos servicios a medida para empresas e independientes. <br>
        Empezamos en 2020 realizando mantenimiento, optimizacion a computadoras y desarrollando sitios webs. Continuamos con el diseño y el mantenimiento de redes sociales. Hoy en dia realizamos diferentes soluciones digitales y servicios informaticos.
        </p> <a href="/contacto" class="inline-flex items-center font-medium text-gray-300 hover:text-white ">
        Contacto
        <svg class="ml-1 w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg> </a> </div> </div> </main>
</Layout>