---
import Layout from "../layouts/Layout.astro";
---
<Layout title="Politica de privacidad">
    <main class="bg-gray-900 px-20 py-28"> <div class="px-4 mx-auto max-w-screen-xl lg:px-6"> <div class="max-w-screen-lg sm:text-lg text-gray-400 py-16"> <h2 class="mb-4 text-4xl tracking-tight font-bold text-white">Política de Privacidad</h2> <p class="mb-4 font-light">
        Fecha de entrada en vigor: 22 de mayo del 2024
        </p> <p class="mb-4 font-light">
        En Bytech Paraguay, accesible desde <a href="https://bytech.site" class="text-yellow-500 hover:underline">https://bytech.site</a> , una de nuestras principales prioridades es la privacidad de nuestros visitantes. Esta Política de Privacidad contiene tipos de información que es recopilada y registrada por Bytech Paraguay y cómo la usamos.
        </p> <h3 class="mb-2 text-2xl tracking-tight font-bold text-white">Información que recopilamos</h3> <p class="mb-4 font-light">
        Bytech Paraguay no recopila información personal directamente a través del sitio web. Sin embargo, utilizamos un servicio externo (formsubmit) para gestionar nuestro formulario de contacto. La información enviada a través de este formulario es utilizada únicamente para responder a sus consultas.
        </p> <h3 class="mb-2 text-2xl tracking-tight font-bold text-white">Uso de la Información</h3> <p class="mb-4 font-light">
        La información recopilada es utilizada para:
        </p><ul class="list-disc ml-5"> <li>Responder a las consultas enviadas a través del formulario de contacto.</li> <li>Comunicarnos con los clientes a través de correo electrónico o WhatsApp según lo solicitado.</li> </ul>  <h3 class="mb-2 text-2xl tracking-tight font-bold text-white">Seguridad</h3> <p class="mb-4 font-light">
        Nos comprometemos a proteger su información personal y a tomar todas las precauciones necesarias para asegurar que esté protegida. Sin embargo, recuerde que ninguna transmisión de datos por Internet es 100% segura.
        </p> <h3 class="mb-2 text-2xl tracking-tight font-bold text-white">Enlaces a Otros Sitios Web</h3> <p class="mb-4 font-light">
        Nuestro sitio web puede contener enlaces a otros sitios que no son operados por nosotros. Si hace clic en un enlace de un tercero, será dirigido al sitio de ese tercero. Le recomendamos revisar la Política de Privacidad de cada sitio que visite.
        </p> <h3 class="mb-2 text-2xl tracking-tight font-bold text-white">Cambios en Esta Política de Privacidad</h3> <p class="mb-4 font-light">
        Podemos actualizar nuestra Política de Privacidad de vez en cuando. Le notificaremos de cualquier cambio publicando la nueva Política de Privacidad en esta página.
        </p> <h3 class="mb-2 text-2xl tracking-tight font-bold text-white">Contacto</h3> <p class="mb-4 font-light">
        Si tiene preguntas sobre esta Política de Privacidad, puede contactarnos a través de:
        </p> <ul class="list-disc ml-5"> <li>Correo electrónico: <a href="mailto:bytechpy@gmail.com" class="text-yellow-500 hover:underline">bytechpy@gmail.com</a></li> <li>WhatsApp: <a href="https://wa.me/595983882017" class="text-yellow-500 hover:underline">+595 983 882017</a></li> </ul> </div> </div> </main>
</Layout>