---
import Layout from "../layouts/Layout.astro";
---
<Layout title="Terminos y condiciones">
    <main class="bg-gray-900 px-20 py-28"> <div class="px-4 mx-auto max-w-screen-xl lg:px-6"> <div class="max-w-screen-lg sm:text-lg text-gray-400 py-16"> <h2 class="mb-4 text-4xl tracking-tight font-bold text-white">Términos y Condiciones</h2> <p class="mb-4 font-light">
        Fecha de entrada en vigor: 22 de mayo del 2024
        </p> <p class="mb-4 font-light">
        Bienvenido a Bytech Paraguay. Estos Términos y Condiciones describen las reglas y regulaciones para el uso del sitio web de Bytech Paraguay, ubicado en <a href="https://bytech.site" class="text-yellow-500 hover:underline">https://bytech.site</a>.
        </p> <h3 class="mb-2 text-2xl tracking-tight font-bold text-white">Uso del Sitio</h3> <p class="mb-4 font-light">
        Al acceder a este sitio web asumimos que aceptas estos términos y condiciones. No continúes usando Bytech Paraguay si no estás de acuerdo con todos los términos y condiciones establecidos en esta página.
        </p> <h3 class="mb-2 text-2xl tracking-tight font-bold text-white">Propiedad Intelectual</h3> <p class="mb-4 font-light">
        Todo el contenido publicado y disponible en nuestro sitio es propiedad de Bytech Paraguay y sus creadores. Esto incluye, pero no se limita a imágenes, textos, logotipos, documentos, archivos descargables y cualquier otra información.
        </p> <h3 class="mb-2 text-2xl tracking-tight font-bold text-white">Limitación de Responsabilidad</h3> <p class="mb-4 font-light">
        Bytech Paraguay no se hace responsable por cualquier daño que pueda surgir del uso o la imposibilidad de uso de los materiales en el sitio, incluso si Bytech Paraguay o un representante autorizado ha sido notificado, oralmente o por escrito, de la posibilidad de tal daño.
        </p> <h3 class="mb-2 text-2xl tracking-tight font-bold text-white">Enlaces a Terceros</h3> <p class="mb-4 font-light">
        Bytech Paraguay puede incluir enlaces a otros sitios web o servicios que no son propiedad ni están controlados por nosotros. No tenemos control y no asumimos ninguna responsabilidad por el contenido, políticas de privacidad o prácticas de cualquier sitio web o servicio de terceros.
        </p> <h3 class="mb-2 text-2xl tracking-tight font-bold text-white">Cambios en los Términos</h3> <p class="mb-4 font-light">
        Bytech Paraguay puede revisar estos términos y condiciones para su sitio web en cualquier momento sin previo aviso. Al usar este sitio web, aceptas estar obligado por la versión actual de estos Términos y Condiciones.
        </p> <h3 class="mb-2 text-2xl tracking-tight font-bold text-white">Contacto</h3> <p class="mb-4 font-light">
        Si tienes preguntas sobre estos Términos y Condiciones, puedes contactarnos a través de:
        </p> <ul class="list-disc ml-5"> <li>Correo electrónico: <a href="mailto:bytechpy@gmail.com" class="text-yellow-500 hover:underline">bytechpy@gmail.com</a></li> <li>WhatsApp: <a href="https://wa.me/595983882017" class="text-yellow-500 hover:underline">+595 983 882017</a></li> </ul> </div> </div> </main>
</Layout>