---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Playa de autos">
<div class="w-full px-4 mx-auto py-28 xs:pt-10 bg-slate-900">
    <div class="flex flex-col ltablet:flex-row ltablet:items-center lg:flex-row lg:items-center container mx-auto ptablet:text-center">
      <div class="w-full ltablet:w-2/5 lg:w-2/5">
        <div class="w-full">
          <h1 class="
              font-sans font-light
              text-5xl
              ltablet:text-5xl
              lg:text-5xl
              leading-none
              mb-2
              text-muted-800
              dark:text-white
            ">
            Kia Sportage
          </h1>
          <p class="
              font-sans
              text-lg text-gray-400
              
            ">
            SUV
          </p>
          <div class="
              font-sans
              text-sm
              mt-4
              mb-6
              max-w-sm
              ptablet:mx-auto
              text-muted-500
              dark:text-muted-400
            ">
            <li>La nueva Kia Sportage satisface todas tus necesidades en confort, conectividad y espacio interior. Descubre su tecnología y disfruta de cómodos
               y versátiles asientos que harán más agradables todos tus recorridos.
            </li><br>
            <li>Un completamente nuevo diseño que presenta detalles estéticos basados en la funcionalidad y que otorgan una conducción más silenciosa y estable. De contornos fuertes, robustos y a la vez elegantes, Kia Sportage combina audacia e innovación en su parrilla, con un original diseño de luces que sobrepasa los límites de una SUV convencional.</li>
          </div>
          <div class="relative w-full max-w-sm ptablet:mx-auto flex">
            <div class="
                flex-1 flex
                items-center
                px-4
                group-hover:opacity-0
                transition-opacity
                duration-300
              ">
              <div class="text-xl">
                <span class="
                    block
                    font-sans font-semibold
                    text-muted-800
                    dark:text-muted-50
                  ">
                  0
                  <small class="font-normal text-muted-500 dark:text-muted-400">
                    KM
                  </small>
                </span>
                <small class="
                    block
                    font-sans
                    text-sm text-muted-500
                    dark:text-muted-400
                  ">
                  Estado
                </small>
              </div>
            </div>
            <div class="
                flex-1 flex
                items-center
                px-4
                group-hover:opacity-0
                transition-opacity
                duration-300
              ">
              <div class="text-xl">
                <span class="
                    block
                    font-sans font-semibold
                    text-muted-800
                    dark:text-muted-50
                  ">
                  2.0
                  <small class="font-normal text-muted-500 dark:text-muted-400">
                    L
                  </small>
                </span>
                <small class="
                    block
                    font-sans
                    text-sm text-muted-500
                    dark:text-muted-400
                  ">
                  Motor
                </small>
              </div>
            </div>
            <div class="
                flex-1 flex
                items-center
                px-4
                group-hover:opacity-0
                transition-opacity
                duration-300
              ">
              <div class="text-xl">
                <span class="
                    block
                    font-sans font-semibold
                    text-muted-800
                    dark:text-muted-50
                  ">
                  5
                  <small class="font-normal text-muted-500 dark:text-muted-400">
                    años
                  </small>
                </span>
                <small class="
                    block
                    font-sans
                    text-sm text-muted-500
                    dark:text-muted-400
                  ">
                  Garantia
                </small>
              </div>
            </div>
          </div>
          <div class="hidden ltablet:grid lg:grid grid-cols-2 mt-6">
            <div>
              <ul class="
                  font-sans
                  text-xs
                  space-y-2
                  text-muted-500
                  dark:text-muted-400
                ">
                <li class="flex items-center gap-2">
                  <span>Más espacio, más confort
                  </span>
                </li>
                <li class="flex items-center gap-2">
                  <span>Diseño vanguardista y elegante</span>
                </li>
              </ul>
            </div>
            <div>
              <ul class="
                  font-sans
                  text-xs
                  space-y-2
                  text-muted-500
                  dark:text-muted-400
                ">
                <li class="flex items-center gap-2">
                  <span>Centro de entretenimiento compatible con Android Auto</span>
                </li>
                <li class="flex items-center gap-2">
                  <span>Placer y diversión al conducir</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="w-full ltablet:w-3/5 lg:w-3/5">
        <img class="block w-full max-w-xl ltablet:max-w-3xl lg:max-w-3xl mx-auto ptablet:mt-8" src="/playauto/images/sportage.png" alt="Vehicle image">
      </div>
    </div>
  </div>

  <section id="gallery" class="p-4">
    <div class="container mx-auto">
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
        <div class="overflow-hidden rounded-lg shadow-lg">
          <img src="/playauto/images/interior1.jpg" alt="Image 1" class="object-cover w-full h-48">
        </div>
        <div class="overflow-hidden rounded-lg shadow-lg">
          <img src="/playauto/images/interior2.jpg" alt="Image 2" class="object-cover w-full h-48">
        </div>
        <div class="overflow-hidden rounded-lg shadow-lg">
          <img src="/playauto/images/costado.jpg" alt="Image 3" class="object-cover w-full h-48">
        </div>
        <div class="overflow-hidden rounded-lg shadow-lg">
          <img src="/playauto/images/atras.jpg" alt="Image 4" class="object-cover w-full h-48">
        </div>

      </div>
    </div>
  </section>
  
  </Layout>