<div class="relative w-full px-5 py-24 z-30 bg-[#121730] mt-full">
    
    <div class="max-w-7xl mx-auto flex flex-wrap md:text-left text-center">
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2 class="
            font-sans font-medium
            text-muted-100
            tracking-widest
            text-sm
            uppercase
            mb-4
          ">
          Comprar Vehiculos
        </h2>
        <ul class="font-sans space-y-2 mb-10">
          <li>
            <a href="#" class="
                text-sm
                underline-offset-4
                text-muted-300/60
                hover:text-white hover:underline
                dark:text-muted-400 dark:hover:text-muted-100
              ">
              Inventario
            </a>
          </li>
          <li>
            <a href="#" class="
                text-sm
                underline-offset-4
                text-muted-300/60
                hover:text-white hover:underline
                dark:text-muted-400 dark:hover:text-muted-100
              ">
              Vehiculos Nuevos
            </a>
          </li>
          <li>
            <a href="#" class="
                text-sm
                underline-offset-4
                text-muted-300/60
                hover:text-white hover:underline
                dark:text-muted-400 dark:hover:text-muted-100
              ">
              Vehiculos Usados
            </a>
          </li>
          <li>
            <a href="#" class="
                text-sm
                underline-offset-4
                text-muted-300/60
                hover:text-white hover:underline
                dark:text-muted-400 dark:hover:text-muted-100
              ">
              Todos los modelos
            </a>
          </li>
          <li>
            <a href="#" class="
                text-sm
                underline-offset-4
                text-muted-300/60
                hover:text-white hover:underline
                dark:text-muted-400 dark:hover:text-muted-100
              ">
              Comprar online
            </a>
          </li>
        </ul>
      </div>
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2 class="
            font-sans font-medium
            text-muted-100
            tracking-widest
            text-sm
            uppercase
            mb-4
          ">
          Servicios
        </h2>
        <ul class="font-sans space-y-2 mb-10">
          <li>
            <a href="#" class="
                text-sm
                underline-offset-4
                text-muted-300/60
                hover:text-white hover:underline
                dark:text-muted-400 dark:hover:text-muted-100
              ">
              Mecanica General
            </a>
          </li>
          <li>
            <a href="#" class="
                text-sm
                underline-offset-4
                text-muted-300/60
                hover:text-white hover:underline
                dark:text-muted-400 dark:hover:text-muted-100
              ">
              Chaperia y pintura
            </a>
          </li>
          <li>
            <a href="#" class="
                text-sm
                underline-offset-4
                text-muted-300/60
                hover:text-white hover:underline
                dark:text-muted-400 dark:hover:text-muted-100
              ">
             Limpieza del vehiculo
            </a>
          </li>
          <li>
            <a href="#" class="
                text-sm
                underline-offset-4
                text-muted-300/60
                hover:text-white hover:underline
                dark:text-muted-400 dark:hover:text-muted-100
              ">
             Equipamientos
            </a>
          </li>
          <li>
            <a href="#" class="
                text-sm
                underline-offset-4
                text-muted-300/60
                hover:text-white hover:underline
                dark:text-muted-400 dark:hover:text-muted-100
              ">
              Tratamiento Ceramico
            </a>
          </li>
          
        </ul>
      </div>
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2 class="
            font-sans font-medium
            text-muted-100
            tracking-widest
            text-sm
            uppercase
            mb-4
          ">
          Compañia
        </h2>
        <ul class="font-sans space-y-2 mb-10">
          <li>
            <a href="#" class="
                text-sm
                underline-offset-4
                text-muted-300/60
                hover:text-white hover:underline
                dark:text-muted-400 dark:hover:text-muted-100
              ">
              Sobre nosotros
            </a>
          </li>
          <li>
            <a href="#" class="
                text-sm
                underline-offset-4
                text-muted-300/60
                hover:text-white hover:underline
                dark:text-muted-400 dark:hover:text-muted-100
              ">
              Contacto
            </a>
          </li>
          <li>
            <a href="#" class="
                text-sm
                underline-offset-4
                text-muted-300/60
                hover:text-white hover:underline
                dark:text-muted-400 dark:hover:text-muted-100
              ">
              Ubicacion
            </a>
          </li>
          <li>
            <a href="#" class="
                text-sm
                underline-offset-4
                text-muted-300/60
                hover:text-white hover:underline
                dark:text-muted-400 dark:hover:text-muted-100
              ">
              Politica de privacidad
            </a>
          </li>
          <li>
            <a href="#" class="
                text-sm
                underline-offset-4
                text-muted-300/60
                hover:text-white hover:underline
                dark:text-muted-400 dark:hover:text-muted-100
              ">
              Terminos y condiciones
            </a>
          </li>
        </ul>
      </div>
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2 class="
            font-sans font-medium
            text-muted-100
            tracking-widest
            text-sm
            uppercase
            mb-4
          ">
          SUBSCRIBITE
        </h2>
        <div class="
            flex
            xl:flex-nowrap
            md:flex-nowrap
            lg:flex-wrap
            flex-wrap
            justify-center
            items-end
            md:justify-start
          ">
          <div class="relative w-full flex flex-col gap-2">
            <input type="text" placeholder="Ingresa tu email..." class="
                w-full
                h-10
                bg-muted-800/50
                border border-muted-700
                text-sm
                outline-none
                py-2
                px-3
                leading-8
                placeholder:text-muted-600
                text-muted-100
                transition-colors
                duration-300
                tw-accessibility
              ">
            <button class="
                w-full
                h-10
                flex
                items-center
                justify-center
                font-sans
                text-sm text-white
                bg-sky-800
                border-0
                py-2
                px-6
                focus:outline-none
                hover:bg-primary-600
              ">
              Subscribirse
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center p-4 bg-zinc-950"> <p class="text-gray-400">© 2024 Todos los derechos reservados. Desarrollada por <a href="https://bytech.site" class="text-yellow-500">Byte<span class="text-white">ch Paraguay.</span></a></p> </div>