<section class=" bg-[#111840] pt-10">
    <h2 class="text-white text-center text-3xl font-bold">Nuestras Marcas</h2>
	<div class="max-w-screen-xl px-4 pt-10 pb-8 mx-auto lg:pb-16">
		<div class="grid grid-cols-2 justify-center gap-8 text-gray-500 sm:gap-12 sm:grid-cols-4 lg:grid-cols-6">
			<a href="#" class="flex items-center justify-center">
			<img src="https://simpleicons.org/icons/toyota.svg" alt="Logo Toyota" class="h-24 filter invert">
			</a>
            <a href="#" class="flex items-center justify-center">
                <img src="https://simpleicons.org/icons/nissan.svg" alt="Logo Toyota" class="h-24 filter invert">
                </a>
                <a href="#" class="flex items-center justify-center">
                    <img src="https://simpleicons.org/icons/hyundai.svg" alt="Logo Toyota" class="h-24 filter invert">
                    </a>
                    <a href="#" class="flex items-center justify-center">
                        <img src="https://simpleicons.org/icons/kia.svg" alt="Logo Toyota" class="h-24 filter invert">
                        </a>
                        <a href="#" class="flex items-center justify-center">
                            <img src="https://simpleicons.org/icons/mitsubishi.svg" alt="Logo Toyota" class="h-24 filter invert">
                            </a>
                            <a href="#" class="flex items-center justify-center">
                                <img src="https://simpleicons.org/icons/mercedes.svg" alt="Logo Toyota" class="h-24 filter invert">
                                </a>
 
		</div>
	</div>
</section>